body{
  font-family: Roboto, sans-serif;
  margin: 0;
}

a, .hero-button, .footer-button{
  cursor: pointer;
}

.section-one{
  background-color: #1F2937;
  color:white;
  display: flex;
  flex-direction: column;
}

.header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
}

.header-right{
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #E5E7EB
}

.header-left{
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;
}

.main-one{
  display: flex;
  justify-content: space-around;
  padding: 100px;
  gap:80px;
}

.left-main{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero-title{
  font-size: 54px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-subtitle{
  color: #E5E7EB;
  margin-top: 5px;
  font-size: 18px;
}

.hero-button{
  background-color: #3882F6;
  border: none;
  margin-top: 20px;
  color:white;
  align-self: flex-start;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.hero-placeholder{
background-color: gray;
padding: 100px;
}

.section-two{
  display: flex;
  flex-direction: column;
}

.title-second{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  align-self: center;
  margin-top: 80px;
}

.main-second{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 100px
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 250px;
}

.info-placeholder{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  border: 5px solid #3882F6;
}

.info-subinfo{
color: grey;
font-weight: 400;
text-align: center;
font-size: 26px;
}

.section-three{
  background-color:#E5E7EB;
  display: flex;
  justify-content: center;
  padding: 170px;
  flex-direction: column;
}

.text-quote{
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: #1F2937;
  max-width: 1000px;
}

.quote-author{
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.quote-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-four{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 140px;
}

.footer{
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 60px 20px;
  border-radius: 10px;
}

.footer-text{
  color: white;
}

.footer-title{
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.footer-subtitle{
  color: #E5E7EB;
  margin: 0;
}

.footer-button{
  border: 3px solid white;
  background-color: #3882F6;
  color: white;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 20px;
}